/*Nuevo Cliente*/
.nueCl {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 6px;

  width: 50%;
  margin-left: 25%;
  background-color: #233a7a;
}

.nueCl label {
  font-size: 0.85rem;
  font-weight: bold;
  color: white;
  height: 10%;
}

.nueCl input,
.nueCl select {
  font-size: 0.85rem;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  color: #233a7a;
}

.nueCl td {
  color: white;
  padding: 0.2rem;
}

/*Nuevo Proveedor*/
.nuePr {
  width: 50%;
  background-color: #233a7a;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 6px;
  margin-left: 25%;
}

.nuePr label {
  font-size: 0.85rem;
  font-weight: bold;
  color: white;
}

.nuePr input,
.nuePr select {
  font-size: 0.85rem;
  border: 1px solid black;
  border-radius: 4px;
  color: #233a7a;
  padding: 0.5rem;
  width: 100%;
}

.nuePr td {
  color: white;
  padding: 0.5rem;
}