.mPan{
  height: 100%;
}

div.fila{
  display: flex;
  justify-content: space-around;
  gap: 1vh;
  margin-top: 5vh;
}

.bVentas,
.bCompras, 
.bEsta, 
.bIma
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vh;
  height: 25vh;  
  font-weight: bold;
  font-size: 5vh;
  text-decoration: none;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
}

.bVentas  { background-color: #28C76F; }
.bCompras { background-color: #FF9F43; }
.bEsta    { background-color: #00CFE8; }
.bIma     { background-color: #9C27B0; }
