/*Estilo Panel*/
@import url("panel.css");
/*Estilo Login*/
@import url("index.css");
/*Estilo Tabla*/
@import url("nuevoClPr.css");


/* Pagina Completa*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Cuerpo*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #E0E0E0;
}

/* Header N°1*/
header.heaLo {
  position: fixed;
  top: 0;
  left: 12.5%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 12.5%);
  height: 10vh;
  color: white;
  background: #233a7a;

}

/* Header N°2*/
header.heaNo {
  position: fixed;
  top: 0;
  left: 12.5%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 12.5%);
  height: 10vh;
  color: white;
  background: #233a7a;
  padding-left: 4vh;
  padding-right: 4vh;
}

.heaNo nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.heaNo nav a {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.heaNo nav a:hover {
  color: #E0E0E0;
}

h1 {
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
}

/*Menu Hamburgesa*/
.meHam {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

#menu-toggle {
  display: none;
}

/* Aside*/
aside {
  position: fixed;
  left: 0;
  width: 12.5%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  padding-top: 10vh;
  padding-bottom: 12vh;
  background-color: #233a7a;
  color: white;

}

aside h3 {
  font-size: 1.6rem;
  text-decoration: underline;
}

dl {
  margin: 0;
  padding: 0;
  width: 100%;
}

dt {
  font-weight: bolder;
  font-size: 1rem;
}

dd {
  text-align: center;
  font-size: 1rem;
}


/* Main*/
main {
  position: fixed;
  top: 10vh;
  bottom: 12vh;
  left: 12.5%;
  width: calc(100% - 12.5%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background: #E0E0E0;
  border: 2px groove black;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #233a7a;
  text-decoration: underline;
  padding: 2.0vh 0vh 0 2.0vh;
}

/*Footer*/
footer {
  position: fixed;
  bottom: 0;
  left: 12.5%;
  width: calc(100% - 12.5%);
  height: 12vh;
  background-color: #233a7a;
  font-size: 1.2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Botones Guardar Modificar Eliminar*/

.bGua {
  color: white;
  background-color: #28C76F;
  border-radius: 5px;
  padding: 5px;
  height: 100%;
}

.bGua:hover {
  background-color: #06be59;
  cursor: pointer
}

.bMod {
  color: white;
  background-color: #FF9F43;
  border-radius: 5px;
  padding: 5px;

}

.bMod:hover {
  background-color: #ff7700;
  cursor: pointer
}

.bEli {
  color: white;
  background-color: #FF4D4F;
  border-radius: 5px;
  padding: 5px;
}

.bEli:hover {
  background-color: #fd0004;
  cursor: pointer
}

/*Boton Volver*/

.bVol {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
  color: #233a7a;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 1.8rem;
  font-weight: bold;
  z-index: 1000;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.bVol:hover {
  transform: scale(1.1);
  background: rgb(235, 194, 211);
  cursor: pointer;
}

/*Boton Informacion Adiciona*/
.tCCVeCo td.maIn {

  background: #233a7a;
  max-width: 195px;
  max-height: 29px;
}

.bInAd {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #42a5f5;
  text-align: center;
  min-height: 23px;
  color: white;
  font-size: 0.8rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

}

.bInAd:hover {
  background-color: #1e88e5;
}

/*Tablas*/
.tCCVeCo {
  width: 95%;
  max-width: 95%;
  margin: 0 2vh 2vh 2vh;
  background-color: #E0E0E0;
  border: 2px solid black;
  border-radius: 6px;

}

h4 {
  font-size: 1.2rem;
  caption-side: top;
  font-weight: bold;
  text-align: left;
  margin-left: 2vh;
}

.tCCVeCo caption {
  font-size: 1.2rem;
  caption-side: top;
  font-weight: bold;
  text-align: left;
}

.tCCVeCo th,
.tCCVeCo td {
  border: 1px solid black;
  text-align: center;
  font-size: 0.8rem;
}

input {
  width: 95%;
  height: 100%;
  font-size: 0.8rem;

}

.tCCVeCo thead th {
  background-color: #233a7a;
  color: white;
  text-align: center;
}

.tCCVeCo tfoot {
  background-color: #ccc;
  text-align: center;
}

.cuotas {
  min-width: 7ch;
}

select {
  width: 95%;
  height: 100%;
  font-size: 0.8rem;
}

.bot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #233a7a;
  margin: 0 auto;
  padding: 0.5rem;
}

.botopc {
  width: 220px;
}

.bNuPr {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background-color: #233a7a;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  box-sizing: border-box;
  text-decoration: none;

}

.bNuPr:hover {
  color: #E0E0E0;
}

.buschor {
  background-color: #233a7a;
  text-align: left;
}

.buschor input {
  width: 200px;
}

.lupa {
  background-color: #233a7a;
  border: none;
}

/*Scroll CC*/
.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollv {
  max-height: 19vh;
}

.scrollc {
  max-height: 50vh;
}

.scroll table {
  width: 100%;
  table-layout: fixed;
}

.scroll thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #233a7a;
  color: white;
}

.scroll::-webkit-scrollbar {
  display: none;
}

/*Monitor mas chico que Full HD*/
@media (max-width: 1366px) {

  header.heaNo {
    width: 100%;
    left: 0;
  }

  aside {
    display: none;
  }

  main {
    width: 100%;
    left: 0;
    border: none;
  }
  

  footer {
    height: 7%;
    width: 100%;
    left: 0;
  }

  footer table {
    display: none;
  }
}


/*Resposive Tablet Horizontal*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  aside {
    display: none;
  }

  main {
    width: 100%;
    height: 100%;
    left: 0;
  }

  header.heaNo {
    width: 100%;
    left: 0;
  }

  nav.mPan {
    margin: 2%;
  }

  footer {
    left: 0;
    width: 100%;
    border: 2px solid black;
  }

}

@media (max-width: 767px) {
  aside {
    display: none;
  }
}

/*Resposive Tablet Vertical*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

  aside {
    display: none;
  }

  main {
    width: 100%;
    height: 100%;
    left: 0;

  }

  /*Menu Hamburguesa*/
  .meHam {
    display: block;
  }

  header.heaNo {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
  }

  .heaNo nav ul {
    display: none;
    flex-direction: column;
    background: #233a7a;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  .heaNo h1 {
    order: 1;
  }

  #menu-toggle:checked+.meHam+ul {
    display: flex;
  }


  nav.mPan {
    margin: 2%;
  }

  footer {
    left: 0;
    width: 100%;
    border: 2px solid black;
  }

  .nueCl {

    margin-top: 25%;
  }

  .scroll {
    max-height: 40vh;
  }
}

/*Responsive Celular*/
@media (max-width: 767px) {

  aside {
    display: none;
  }

  main {
    width: 100%;
    height: 100%;
    left: 0;

  }

  /*Menu Hamburguesa*/
  .meHam {
    display: block;
  }

  header.heaNo {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
  }

  .heaNo nav ul {
    display: none;
    flex-direction: column;
    background: #233a7a;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  .heaNo h1 {
    order: 1;
    font-size: 1.3rem;
  }

  #menu-toggle:checked+.meHam+ul {
    display: flex;
  }

  h2 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  nav.mPan {
    margin: 2%;
  }

  .botopc {
    width: 15%;
  }

  .bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .bGua,
  .bMod,
  .bEli {
    width: 100%;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    padding: 0;
    gap: 0;
    margin: 0;
  }

  .bVentas,
  .bCompras,
  .bEsta,
  .bIma {
    font-size: 1rem;
  }

  .tCCVeCo th,
  .tCCVeCo td {
    border: 1px solid black;
    text-align: center;
    font-size: 0.6rem;
  }

  input {
    width: 95%;
    font-size: 0.5rem;
  }

  select {
    width: 100%;
    font-size: 0.5rem;
  }

  .tCCVeCo caption {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  footer {
    left: 0;
    width: 100%;
    border: 2px solid black;
  }

  .nueCl {
    margin-top: 25%;
  }

  .bInAd {
    font-size: 0.6rem;
  }

  td.nomCo,
  th.nomCo,
  td.raPE,
  th.raPE,
  td.mail,
  th.mail {
    word-break: break-word;
  }

  .letr{
    width: 6ch;
    margin: 0;
    padding: 0;
    min-width: 0;

  }
  .nFac{
    width: 13ch;
  }

  .scroll {
    max-height: 40vh;
  }
  .feMay{
width: 11ch;
  }
}
@media (max-width: 915px) and (orientation: landscape) {

  /*Menu Hamburguesa*/
  .meHam {
    display: block;
  }

  header.heaNo {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
  }

  .heaNo nav ul {
    display: none;
    flex-direction: column;
    background: #233a7a;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  .heaNo h1 {
    order: 1;
    font-size: 1.3rem;
  }

  #menu-toggle:checked+.meHam+ul {
    display: flex;
  }

  h2 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 0.8rem;
  }

 .tCCVeCo caption {
    font-size: 0.8rem;
  }

.botopc {
    width: 15%;
  }

  .bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .bInAd{
    font-size: 0.7rem ;
    min-height: 0;
  }

  .bGua,
  .bMod,
  .bEli {
    width: 100%;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    padding: 0;
    gap: 0;
    margin: 0;
  }

  .bVentas,
  .bCompras,
  .bEsta,
  .bIma {
    font-size: 1rem;
  }

  .tCCVeCo th,
  .tCCVeCo td {
    flex-direction: row;
    border: 1px solid black;
    text-align: center;
    font-size: 0.6rem;
  }

  input {
    width: 95%;
    font-size: 0.5rem;
  }

  select {
    width: 100%;
    font-size: 0.5rem;
  }

  .tCCVeCo caption {
    font-size: 0.8rem;
  }




  
}
