/*Nuevo Cliente*/

.nueCl {
  display: flex;
  justify-content: center;
  margin: 3%;
}

.tauno {
  border: 1px solid black;
  border-right: none;
  border-radius: 6px 0 0 6px;
  background-color: #233a7a;
  margin: 0;
  width: auto;
}


.tados {
  border: 1px solid black;
  border-left: none;
  border-radius: 0 6px 6px 0;
  background-color: #233a7a;
  margin: 0;
  width: auto;
}

.nueCl label {
  font-size: 0.85rem;
  font-weight: bold;
  color: white;
}

.nueCl input,
.nueCl select {
  font-size: 0.85rem;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  color: #233a7a;
}

.nueCl td {
  color: white;
  padding: 0.2rem;
}

/*Nuevo Proveedor*/
.nuePr {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5%;
}

.nuePr table {
  background-color: #233a7a;
  border: 1px solid black;
  border-radius: 6px;
}

.nuePr label {
  font-size: 0.85rem;
  font-weight: bold;
  color: white;
}

.nuePr input,
.nuePr select {
  font-size: 0.85rem;
  border: 1px solid black;
  border-radius: 6px;
  color: #233a7a;
  padding: 0.5rem;
  width: 100%;
}

.nuePr input {
  width: 100%;
}

.nuePr td {
  color: white;
  padding: 0.5rem;
}

.nuePr td.bot {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Celular Horizontal*/
@media (max-width: 932px) and (orientation: landscape) {
  .nuePr {
    margin: 5%;
  }

  .nuePr label,
  .nuePr input,
  .nuePr select {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }

  .nuePr td {
    padding: 0;
  }


}