/* Pagina Completa*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Cuerpo*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #E0E0E0;
}

/* Header*/
header.heaNo {
  position: fixed;
  top: 0;
  left: 12.5%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 12.5%);
  height: 10vh;
  color: white;
  background: #233a7a;
  padding-left: 4vh;
  padding-right: 4vh;
}

.heaNo nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.heaNo nav a {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.heaNo nav a:hover {
  color: #E0E0E0;
}

h1 {
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
}
nav ul li a.activo {
  color: rgb(235, 194, 211);
  text-decoration: underline;
  font-weight: bold;
}

/*Menu Hamburgesa*/
.meHam {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

#menu-toggle {
  display: none;
}

/* Aside*/
aside {
  position: fixed;
  left: 0;
  width: 12.5%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  padding-top: 10vh;
  padding-bottom: 12vh;
  background-color: #233a7a;
  color: white;

}

aside h3 {
  font-size: 1.6rem;
  text-decoration: underline;
  text-align: center;

}



aside p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold
}


/* Main*/
main {
  position: fixed;
  top: 10vh;
  bottom: 12vh;
  left: 12.5%;
  width: calc(100% - 12.5%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background: #E0E0E0;
  border: 2px groove black;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #233a7a;
  text-decoration: underline;
  padding: 2.0vh 0vh 0 2.0vh;
}

/*Footer*/
footer {
  position: fixed;
  bottom: 0;
  left: 12.5%;
  width: calc(100% - 12.5%);
  height: 12vh;
  background-color: #233a7a;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold
}

/*Botones Guardar Modificar Eliminar*/

.bGua {
  color: white;
  background-color: #28C76F;
  border-radius: 5px;
  padding: 5px;

}

.bGua:hover {
  background-color: #06be59;
  cursor: pointer
}

.bMod {
  color: white;
  background-color: #FF9F43;
  border-radius: 5px;
  padding: 5px;

}

.bMod:hover {
  background-color: #ff7700;
  cursor: pointer
}

.bEli {
  color: white;
  background-color: #FF4D4F;
  border-radius: 5px;
  padding: 5px;
}

.bEli:hover {
  background-color: #fd0004;
  cursor: pointer
}

/*Boton Volver*/

.bVol {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
  color: #233a7a;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 1.8rem;
  font-weight: bold;
  z-index: 1000;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.bVol:hover {
  transform: scale(1.1);
  background: rgb(235, 194, 211);
  cursor: pointer;
}

/*Tablas*/
.tCCVeCo {
  width: 95%;
  max-width: 95%;
  margin: 0 2vh 2vh 2vh;
  background-color: #E0E0E0;
  border: 2px solid black;
  border-radius: 6px;

}

h4 {
  font-size: 1.2rem;
  caption-side: top;
  font-weight: bold;
  text-align: left;
  margin-left: 2vh;
}

.tCCVeCo caption {
  font-size: 1.2rem;
  caption-side: top;
  font-weight: bold;
  text-align: left;
}

.tCCVeCo th,
.tCCVeCo td {
  border: 1px solid black;
  text-align: center;
  font-size: 0.8rem;
}

select,
input {
  width: 95%;
  font-size: 0.8rem;
  background-color: #E0E0E0;;
  color: #233a7a; ;

}

.tCCVeCo thead th {
  background-color: #233a7a;
  color: white;
  text-align: center;
}

.tCCVeCo tfoot {
  background-color: #ccc;
  text-align: center;
}

select {
  width: 95%;
  font-size: 0.8rem;
}

.bot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #233a7a;
  margin: 0 auto;
  padding: 0.5rem;
}

.botopc {
  width: 220px;
}

.bNuPr {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background-color: #233a7a;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  box-sizing: border-box;
  text-decoration: none;

}

.bNuPr:hover {
  color: #E0E0E0;
}

.buschor {
  background-color: #233a7a;
  text-align: left;
}

.buschor input {
  width: 200px;
}

.lupa {
  background-color: #233a7a;
  border: none;
}

/*Scroll CC*/
.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollv {
  max-height: 50vh;
}

.scrollc {
  max-height: 50vh;
}

.scroll table {
  width: 100%;
  table-layout: fixed;
}

.scroll thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #233a7a;
  color: white;
}

.scroll::-webkit-scrollbar {
  display: none;
}


/*Panel Inedex*/
.mPan {
  height: 100%;
}

div.fila {
  display: flex;
  justify-content: space-around;
  gap: 1vh;
  margin-top: 5vh;
}

.bVentas,
.bCompras,
.bEsta,
.bIma {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vh;
  height: 25vh;
  font-weight: bold;
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  transition: transform 0.3s ease;
  background-color: #233a7a;

}

/*Zoom botones y cambio color letra*/
.bVentas:hover,
.bCompras:hover,
.bEsta:hover,
.bIma:hover {
  transform: scale(1.08);
  color: #E0E0E0;
}

/*Animacion panel*/
.mPan a {
  opacity: 0;                       
  transform: translateY(20px);  
  transition: all 0.6s ease; 
}

.mPan a.visible {
  opacity: 1;
  transform: translateY(0);
}

/*Hoja Nuevo Cliente/Proveedor*/

.nuevoCP {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 7%;
}

.taClPr, .taClPro  {
  font-weight: bold;
  text-decoration: none;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  background-color: #233a7a;
}
.taClPro input,
.taClPr input,
select {
  font-weight: bold;
  text-decoration: none;
  color: #233a7a;
}

.nuevoCP table {
  margin: 2%;
}

.rzPro {
  width: 30ch;
}

/*Caja*/
.tCaja {
  margin-top: 4;
  width: 95%;
  max-width: 95%;
  margin: 2% 2vh 2vh 2vh;
  background-color: #E0E0E0;
  border: 2px solid black;
  border-radius: 6px;

}


.tCaja th,
.tCaja td {
  border: 1px solid black;
  text-align: center;
  font-size: 0.8rem;
}


.tCaja thead th {
  background-color: #233a7a;
  color: white;
  text-align: center;
}

.tCaja tfoot {
  background-color: #233a7a;
  text-align: center;
  color: #E0E0E0;
  ;
}

/*Monitor mas chico que Full HD*/
@media (max-width: 1366px) {

  header.heaNo {
    width: 100%;
    left: 0;
  }

  aside {
    display: none;
  }

  main {
    width: 100%;
    left: 0;
    border: none;
  }


  footer {
    height: 7%;
    width: 100%;
    left: 0;
    font-size: 1.2rem;
  }

  .bVentas,
  .bCompras,
  .bEsta,
  .bIma {
    font-size: 1.5rem;
  }
}

/*Resposive Tablet Horizontal*/

@media (min-width: 768px) and (max-width: 1366px) and (orientation: landscape) {
  aside {
    display: none;
  }

  main {
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid black;
  }

  header.heaNo {
    width: 100%;
    left: 0;
  }

  nav.mPan {
    margin: 2%;
  }

  footer {
    left: 0;
    width: 100%;
    border: 2px solid black;
  }

}

@media (max-width: 767px) {
  aside {
    display: none;
  }
}

/*Resposive Tablet Vertical*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

  aside {
    display: none;
  }

  main {
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid black;
  }


  /*Menu Hamburguesa*/
  .meHam {
    display: block;
  }

.heaNo nav ul {
  display: none;
  flex-direction: column;
  background: #233a7a;
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  padding-left: 0.5;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

.heaNo nav ul.abierto {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

  .heaNo h1 {
    order: 1;
  }
  nav.mPan {
    margin: 2%;
  }

  footer {
    left: 0;
    width: 100%;
    border: 2px solid black;
  }

  .scroll {
    max-height: 40vh;
  }

  .tCCVeCo td,
  th {
    border: 1px solid #000;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
  }

  .nuevoCP {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .taClPr, .taClPro  {
    margin-bottom: 10%;
  }




}

/*Responsive Celular Vertical*/
@media (max-width: 767px) {

  aside {
    display: none;
  }

  main {
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid black;
  }

  /*Menu Hamburguesa*/
  .meHam {
    display: block;
  }

  header.heaNo {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
  }

 .heaNo nav ul {
  display: none;
  flex-direction: column;
  background: #233a7a;
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  padding: 1rem;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

.heaNo nav ul.abierto {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

  .heaNo h1 {
    order: 1;
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  nav.mPan {
    margin: 2%;
  }

  .botopc {
    width: 15%;
  }

  .bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .bGua,
  .bMod,
  .bEli {
    width: 100%;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    padding: 0;
    gap: 0;
    margin: 0;
  }

  .bVentas,
  .bCompras,
  .bEsta,
  .bIma {
    font-size: 1rem;
  }

  .tCCVeCo th,
  .tCCVeCo td {
    border: 1px solid black;
    text-align: center;
    font-size: 0.6rem;
  }

  input {
    width: 95%;
    font-size: 0.5rem;
  }

  select {
    width: 100%;
    font-size: 0.5rem;
  }

  .tCCVeCo caption {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  footer {
    left: 0;
    width: 100%;
    border: 2px solid black;
  }

  .letr {
    width: 6ch;
    margin: 0;
    padding: 0;
    min-width: 0;

  }

  .nFac {
    width: 13ch;
  }

  .scroll {
    max-height: 40vh;
  }

  .tCCVeCo td,
  th {
    border: 1px solid #000;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
  }

  .tCaja tr,
  td {
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;

  }
  .nuevoCP {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .taClPr, .taClPro  {
    margin-bottom: 10%;
  }

}

/*Celulare Horizontal Iphone 12 Pro*/
@media (max-width: 915px) and (orientation: landscape) {
  main {
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid black;
  }

  /*Menu Hamburguesa*/
  .meHam {
    display: block;
     font-size: 1.1rem;
  }

  header.heaNo {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
  }

.heaNo nav ul {
  display: none;
  flex-direction: column;
  background: #233a7a;
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  padding: 1rem;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

.heaNo nav ul.abierto {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}
  .heaNo li a{
     font-size: 0.8rem;
     margin: 0;
  }

 .heaNo h1 {
    order: 1;
    font-size: 1.1rem;
  }
  h2 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  .tCCVeCo caption {
    font-size: 0.8rem;
  }

  .botopc {
    width: 20%;
  }

  .bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .bNuPr {
    font-size: 0.7rem;
  }

  .bGua,
  .bMod,
  .bEli {
    width: 100%;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    padding: 0;
    gap: 0;
    margin: 0;
  }

  .bVentas,
  .bCompras,
  .bEsta,
  .bIma {
    font-size: 1rem;
  }

  .tCCVeCo th,
  .tCCVeCo td {
    flex-direction: row;
    border: 1px solid black;
    text-align: center;
    font-size: 0.6rem;
  }

  input {
    width: 85%;
    font-size: 0.5rem;
  }

  select {
    width: 85%;
    font-size: 0.5rem;
  }

  .tCCVeCo caption {
    font-size: 0.8rem;
  }

  .cuoCue {
    width: 7%;
  }

}